<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TECKCte.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TECKCte.My.MySettings.ConnectionString" connectionString="Data Source=SISPRIME-N01\SQLEXPRESS;Initial Catalog=TECKAgro;User ID=sa;Password=Oic2@2ram7;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <TECKCte.My.MySettings>
            <setting name="Proxy" serializeAs="String">
                <value />
            </setting>
            <setting name="Proxy_usuario" serializeAs="String">
                <value />
            </setting>
            <setting name="Proxy_senha" serializeAs="String">
                <value />
            </setting>
            <setting name="DbProvider" serializeAs="String">
                <value>System.Data.SqlClient</value>
            </setting>
            <setting name="Tempo_processamento_ctes" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="vDescObrigatorio" serializeAs="String">
                <value>S</value>
            </setting>
        </TECKCte.My.MySettings>
    </userSettings>
</configuration>
